body {
  background: #fafafa;
}
input {
  padding-left: 5px;
}
/* table stuff */
table {
  background: #ffffff;
  border-bottom: 1px solid #ddd;
  margin: 10px 0;
}
th, td {
  border-top: 1px solid #ddd;
  padding: 12px 15px;
}
.bootstrap-datetimepicker-widget table, .bootstrap-datetimepicker-widget table td {
  border: 0;
}
th {
  background: #f5f5f5;
}
th.dow, th.picker-switch, th.next, th.prev {
  background: #ffffff;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    border: 0;
  }
}
.date-time-picker-pf {
  min-width: 219px;
}
/* side items */
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}
.search-pf-side, .dds-pf-side {
  padding: 10px 0;
}
.timestamp {
  text-align: right;
  white-space: nowrap;
}
/* sticky toolbar */
#toolbar {
  background: #fafafa;
  padding: 10px 0;
  z-index: 2;
}
.sticky {
  box-shadow: 0 2px 3px rgba(3,3,3,.1);
  position: fixed;
  top: 0;
  width: 100%;
}
/* map */
.map {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  height: calc(100vh - 170px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
  min-height: 200px;
}
/* blank state */
.blank-slate-pf {
  border: 1px solid #ddd;
  height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blank-slate-pf .blank-slate-pf-main-action,
.blank-slate-pf .blank-slate-pf-secondary-action {
  margin-top: 0;
}
/* notifications */
.bluedot {
  background-color: #0088ce;
  border-radius: 20px;
  left: 20px;
  margin: 0;
  padding: 2px 4px;
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  top: 8px;
}
.non-drawer-notifications {
  border: 1px solid #d1d1d1;
}
/* side modal */
.close {
  font-size: 16px;
}
.modal-header {
  border-bottom: 1px solid #ddd;
  padding: 9px 15px;
}
.modal-title {
  font-size: 12px;
  font-weight: 700;
}
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
.modal.right .modal-content {
  border: 0;
  border-radius: 0;
  height: 100%;
  overflow-y: auto;
}
.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.modal.right.fade.in .modal-dialog {
  right: 0;
}
.modal-footer {
  margin-top: 0;
}
/* navbar */
.navbar-pf .navbar-header {
  border-bottom: 0;
  float: none;
}
.navbar-pf .navbar-primary {
  border-top: 1px solid #292929;
  float: left;
  width: 100%;
}
.navbar-pf .navbar-toggle {
  border: 0;
  margin: 0;
  padding: 10px 20px;
}
.navbar-pf .navbar-brand {
  padding: 8px 0;
}
.navbar-pf a.navbar-brand:hover,
.navbar-pf a.navbar-brand:active {
  color: #d1d1d1;
}
.navbar-pf .navbar-primary.persistent-secondary>li>.navbar-persistent {
  background: #fff;
}
@media (min-width: 768px) {
  .navbar-pf .navbar-utility>li>a {
    padding: 12px;
  }
  .navbar-pf .navbar-utility li.dropdown>.dropdown-toggle {
    padding-left: 12px;
  }
}
@media (max-width: 767px) {
  .navbar-pf .navbar-utility li.dropdown>.dropdown-toggle {
    padding-left: 20px;
  }
}
